Students Jorge Alberto Mu√±ozcano Castro, Ernesto Centeno
ETL Project

In [20]:
import pandas as pd
import numpy as np

In [21]:
worldcupsplayers = "WorldCupPlayers.csv"
worldcups1= pd.read_csv(worldcupsplayers)
worldcupmatches = "WorldCupMatches.csv"
worldcups2= pd.read_csv(worldcupmatches)
WorldCups = "WorldCups.csv"
worldcups3= pd.read_csv(WorldCups)

In [22]:
worldcups1.head()

,RoundID,MatchID,Team Initials,Coach Name,Line-up,Shirt Number,Player Name,Position,Event
0,201,1096,FRA,CAUDRON Raoul (FRA),S,0,Alex THEPOT,GK,NaN
1,201,1096,MEX,LUQUE Juan (MEX),S,0,Oscar BONFIGLIO,GK,NaN
2,201,1096,FRA,CAUDRON Raoul (FRA),S,0,Marcel LANGILLER,NaN,G40'
3,201,1096,MEX,LUQUE Juan (MEX),S,0,Juan CARRENO,NaN,G70'
4,201,1096,FRA,CAUDRON Raoul (FRA),S,0,Ernest LIBERATI,NaN,NaN

In [23]:
worldcups2.head()

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4,1,Mexico,,4444.0,3,0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201,1096,FRA,MEX
1,1930,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3,0,Belgium,,18346.0,2,0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201,1090,USA,BEL
2,1930,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2,1,Brazil,,24059.0,2,0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201,1093,YUG,BRA
3,1930,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3,1,Peru,,2549.0,1,0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201,1098,ROU,PER
4,1930,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1,0,France,,23409.0,0,0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201,1085,ARG,FRA

In [24]:
worldcups3.head()

,Year,Country,Winner,Runners-Up,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance
0,1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,590.549
1,1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17,363
2,1938,France,Italy,Hungary,Brazil,Sweden,84,15,18,375.7
3,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1.045.246
4,1954,Switzerland,Germany FR,Hungary,Austria,Uruguay,140,16,26,768.607

In [25]:
CoachesID = worldcups1[["Team Initials","Coach Name","MatchID"]]
CoachesID = CoachesID.rename(columns={"Team Initials":"country_id"})
CoachesID.head()

  country_id           Coach Name  MatchID
0        FRA  CAUDRON Raoul (FRA)     1096
1        MEX     LUQUE Juan (MEX)     1096
2        FRA  CAUDRON Raoul (FRA)     1096
3        MEX     LUQUE Juan (MEX)     1096
4        FRA  CAUDRON Raoul (FRA)     1096

In [26]:
CoachesID.to_csv('Coaches.csv', index = False)

PermissionError: [Errno 13] Permission denied: 'Coaches.csv'

In [27]:
CoachesID.count()

country_id    37784
Coach Name    37784
MatchID       37784
dtype: int64

In [28]:
PlayersID= worldcups1[["Player Name","Shirt Number"]]
Players=PlayersID.drop_duplicates(subset=["Player Name", "Shirt Number"], keep='first')
Players.head()

        Player Name  Shirt Number
0       Alex THEPOT             0
1   Oscar BONFIGLIO             0
2  Marcel LANGILLER             0
3      Juan CARRENO             0
4   Ernest LIBERATI             0

In [29]:
PlayersID.to_csv('Players.csv', index = False)

In [30]:
WC=pd.merge(worldcups1, worldcups2, on="MatchID")
WC

,RoundID_x,MatchID,Team Initials,Coach Name,Line-up,Shirt Number,Player Name,Position,Event,Year,...,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID_y,Home Team Initials,Away Team Initials
0,201,1096,FRA,CAUDRON Raoul (FRA),S,0,Alex THEPOT,GK,NaN,1930,...,,4444.0,3,0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201,FRA,MEX
1,201,1096,MEX,LUQUE Juan (MEX),S,0,Oscar BONFIGLIO,GK,NaN,1930,...,,4444.0,3,0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201,FRA,MEX
2,201,1096,FRA,CAUDRON Raoul (FRA),S,0,Marcel LANGILLER,NaN,G40',1930,...,,4444.0,3,0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201,FRA,MEX
3,201,1096,MEX,LUQUE Juan (MEX),S,0,Juan CARRENO,NaN,G70',1930,...,,4444.0,3,0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201,FRA,MEX
4,201,1096,FRA,CAUDRON Raoul (FRA),S,0,Ernest LIBERATI,NaN,NaN,1930,...,,4444.0,3,0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201,FRA,MEX
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39251,255951,300186497,USA,KLINSMANN Juergen (GER),N,18,WONDOLOWSKI,NaN,I72',2014,...,Belgium win after extra time,51227.0,0,0,HAIMOUDI Djamel (ALG),ACHIK Redouane (MAR),ETCHIALI Abdelhak (ALG),255951,BEL,USA
39252,255951,300186497,BEL,WILMOTS Marc (BEL),N,21,VANDEN BORRE,NaN,NaN,2014,...,Belgium win after extra time,51227.0,0,0,HAIMOUDI Djamel (ALG),ACHIK Redouane (MAR),ETCHIALI Abdelhak (ALG),255951,BEL,USA
39253,255951,300186497,BEL,WILMOTS Marc (BEL),N,21,VANDEN BORRE,NaN,NaN,2014,...,Belgium win after extra time,51227.0,0,0,HAIMOUDI Djamel (ALG),ACHIK Redouane (MAR),ETCHIALI Abdelhak (ALG),255951,BEL,USA
39254,255951,300186497,USA,KLINSMANN Juergen (GER),N,21,CHANDLER,NaN,NaN,2014,...,Belgium win after extra time,51227.0,0,0,HAIMOUDI Djamel (ALG),ACHIK Redouane (MAR),ETCHIALI Abdelhak (ALG),255951,BEL,USA
39255,255951,300186497,USA,KLINSMANN Juergen (GER),N,21,CHANDLER,NaN,NaN,2014,...,Belgium win after extra time,51227.0,0,0,HAIMOUDI Djamel (ALG),ACHIK Redouane (MAR),ETCHIALI Abdelhak (ALG),255951,BEL,USA

In [31]:
WCroster=WC[["Team Initials", "Player Name"]]
WCroster.head()

  Team Initials       Player Name
0           FRA       Alex THEPOT
1           MEX   Oscar BONFIGLIO
2           FRA  Marcel LANGILLER
3           MEX      Juan CARRENO
4           FRA   Ernest LIBERATI

In [32]:
WCroster.to_csv('Country.csv', index = False)

In [33]:
WCcoaches=WC[["Team Initials","Year", "Coach Name"]]
Coaches = WCcoaches.rename(columns = {"Team Initials":"country_id",'Year':'cup_id',}).drop_duplicates(subset = 'Coach Name').reset_index()
Coaches.head()

   index country_id  cup_id             Coach Name
0      0        FRA    1930    CAUDRON Raoul (FRA)
1      1        MEX    1930       LUQUE Juan (MEX)
2     33        USA    1930       MILLAR Bob (USA)
3     34        BEL    1930  GOETINCK Hector (BEL)
4     65        YUG    1930  SIMONOVIC Bosko (YUG)

In [35]:
Coaches.to_csv('Coaches.csv')

In [ ]:
worldcups3.head()

In [ ]:
Worldcups=worldcups3[["Year","Country","Attendance","GoalsScored","QualifiedTeams","MatchesPlayed" ]]
Worldcups=Worldcups.rename(columns={'Year': 'cup_id', 'Country':'Team Initials'})
Worldcups=Worldcups['Team Initials'].replace({'Uruguay': "URU", "Italy":"ITA","France":"FRA","Brazil":"BRA", "Switzerland":"SWI",
                                               "Sweden":"SWE","Chile":"CHI","England":"ENG", "Mexico":"MEX","Germany":"GER","Argentina":"ARG",
                                                "Spain":"SPA","Korea/Japan":"KOR", "South Africa":"RSA"})

In [ ]:
Worldcups

In [30]:
Worldcups.to_csv('TEAMINITIALS.csv', index = False)

In [31]:
worldcups2.head()

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4,1,Mexico,,4444.0,3,0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201,1096,FRA,MEX
1,1930,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3,0,Belgium,,18346.0,2,0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201,1090,USA,BEL
2,1930,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2,1,Brazil,,24059.0,2,0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201,1093,YUG,BRA
3,1930,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3,1,Peru,,2549.0,1,0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201,1098,ROU,PER
4,1930,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1,0,France,,23409.0,0,0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201,1085,ARG,FRA

In [32]:
Matches =worldcups2[["MatchID", "RoundID","Year","Stage","City","Stadium", "Attendance" ]]
Matches=Matches.rename(columns={'Year':'cup_id'}).drop_duplicates(subset = 'MatchID').reset_index()
Matches

,index,MatchID,RoundID,cup_id,Stage,City,Stadium,Attendance
0,0,1096,201,1930,Group 1,Montevideo,Pocitos,4444.0
1,1,1090,201,1930,Group 4,Montevideo,Parque Central,18346.0
2,2,1093,201,1930,Group 2,Montevideo,Parque Central,24059.0
3,3,1098,201,1930,Group 3,Montevideo,Pocitos,2549.0
4,4,1085,201,1930,Group 1,Montevideo,Parque Central,23409.0
...,...,...,...,...,...,...,...,...
831,831,300186504,255953,2014,Quarter-finals,Brasilia,Estadio Nacional,68551.0
832,832,300186508,255951,2014,Round of 16,Fortaleza,Estadio Castelao,58817.0
833,833,300186459,255951,2014,Round of 16,Recife,Arena Pernambuco,41242.0
834,834,300186503,255951,2014,Round of 16,Sao Paulo,Arena de Sao Paulo,63255.0
835,835,300186497,255951,2014,Round of 16,Salvador,Arena Fonte Nova,51227.0

In [33]:
Matches.to_csv('Matches.csv', index = False)

In [34]:
P1 = "Players.csv"
P1= pd.read_csv(P1)
P1

            Player Name  Shirt Number
0           Alex THEPOT             0
1       Oscar BONFIGLIO             0
2      Marcel LANGILLER             0
3          Juan CARRENO             0
4       Ernest LIBERATI             0
...                 ...           ...
37779           ALVAREZ            19
37780           KHEDIRA             6
37781            AGUERO            20
37782           MUSTAFI            21
37783           BASANTA            23

[37784 rows x 2 columns]

In [43]:
playerdata=WC[["Player Name","MatchID","Shirt Number","Line-up" ]]
playerdata = playerdata.rename(columns = {'Player Name':'Name'}).drop_duplicates(subset = 'Name').reset_index()
playerdata1 = playerdata.rename(columns = {'index':'player_id'})
playerdata1

      player_id              Name    MatchID  Shirt Number Line-up
0             0       Alex THEPOT       1096             0       S
1             1   Oscar BONFIGLIO       1096             0       S
2             2  Marcel LANGILLER       1096             0       S
3             3      Juan CARRENO       1096             0       S
4             4   Ernest LIBERATI       1096             0       S
...         ...               ...        ...           ...     ...
7658      34881           S W KIM  300186499            18       N
7659      34882        MOGILEVETC  300186499            15       N
7660      34883            D W JI  300186499            19       N
7661      34884             IONOV  300186499            21       N
7662      34885          J H PARK  300186499            22       N

[7663 rows x 5 columns]

In [44]:
playerdata.to_csv('playersdata.csv', index = False)

In [51]:
locality = "locality.csv"
locality= pd.read_csv(locality)
roster = pd.merge(WC, locality, on="MatchID")
roster

,RoundID_x,MatchID,Team Initials,Coach Name,Line-up,Shirt Number,Player Name,Position,Event,Year,...,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID_y,Home Team Initials,Away Team Initials,country_id,Locality
0,201,1096,FRA,CAUDRON Raoul (FRA),S,0,Alex THEPOT,GK,NaN,1930,...,3,0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201,FRA,MEX,FRA,Home
1,201,1096,FRA,CAUDRON Raoul (FRA),S,0,Alex THEPOT,GK,NaN,1930,...,3,0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201,FRA,MEX,MEX,Away
2,201,1096,MEX,LUQUE Juan (MEX),S,0,Oscar BONFIGLIO,GK,NaN,1930,...,3,0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201,FRA,MEX,FRA,Home
3,201,1096,MEX,LUQUE Juan (MEX),S,0,Oscar BONFIGLIO,GK,NaN,1930,...,3,0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201,FRA,MEX,MEX,Away
4,201,1096,FRA,CAUDRON Raoul (FRA),S,0,Marcel LANGILLER,NaN,G40',1930,...,3,0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201,FRA,MEX,FRA,Home
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84395,255951,300186497,USA,KLINSMANN Juergen (GER),N,21,CHANDLER,NaN,NaN,2014,...,0,0,HAIMOUDI Djamel (ALG),ACHIK Redouane (MAR),ETCHIALI Abdelhak (ALG),255951,BEL,USA,USA,Away
84396,255951,300186497,USA,KLINSMANN Juergen (GER),N,21,CHANDLER,NaN,NaN,2014,...,0,0,HAIMOUDI Djamel (ALG),ACHIK Redouane (MAR),ETCHIALI Abdelhak (ALG),255951,BEL,USA,BEL,Home
84397,255951,300186497,USA,KLINSMANN Juergen (GER),N,21,CHANDLER,NaN,NaN,2014,...,0,0,HAIMOUDI Djamel (ALG),ACHIK Redouane (MAR),ETCHIALI Abdelhak (ALG),255951,BEL,USA,BEL,Home
84398,255951,300186497,USA,KLINSMANN Juergen (GER),N,21,CHANDLER,NaN,NaN,2014,...,0,0,HAIMOUDI Djamel (ALG),ACHIK Redouane (MAR),ETCHIALI Abdelhak (ALG),255951,BEL,USA,USA,Away
84399,255951,300186497,USA,KLINSMANN Juergen (GER),N,21,CHANDLER,NaN,NaN,2014,...,0,0,HAIMOUDI Djamel (ALG),ACHIK Redouane (MAR),ETCHIALI Abdelhak (ALG),255951,BEL,USA,USA,Away

In [52]:
playerdata2=roster[["MatchID","country_id","Locality" ,"Shirt Number","Line-up" ]]
#playerdata2 = playerdata2.rename(columns = {'Player Name':'Name'}).drop_duplicates(subset = 'Name').reset_index()
playerdata2.head()

   MatchID country_id Locality  Shirt Number Line-up
0     1096        FRA     Home             0       S
1     1096        MEX     Away             0       S
2     1096        FRA     Home             0       S
3     1096        MEX     Away             0       S
4     1096        FRA     Home             0       S

In [56]:
roster =pd.merge(playerdata1, playerdata2, on="MatchID")
roster = roster.rename(columns = {'Player Name':'Name'}).drop_duplicates(subset = 'Name').reset_index()
roster=roster[["MatchID","country_id","player_id","Locality" ,"Shirt Number_x","Line-up_y" ]]
roster = roster.rename(columns = {'Shirt Number_x': 'Shirt Number', "Line-up_y":"Line-up"})
roster

        MatchID country_id  player_id Locality  Shirt Number Line-up
0          1096        FRA          0     Home             0       S
1          1096        FRA          1     Home             0       S
2          1096        FRA          2     Home             0       S
3          1096        FRA          3     Home             0       S
4          1096        FRA          4     Home             0       S
...         ...        ...        ...      ...           ...     ...
7658  300186499        RUS      34881     Home            18       S
7659  300186499        RUS      34882     Home            15       S
7660  300186499        RUS      34883     Home            19       S
7661  300186499        RUS      34884     Home            21       S
7662  300186499        RUS      34885     Home            22       S

[7663 rows x 6 columns]

In [57]:
roster.to_csv('roster.csv', index = False)